In [13]:
# with open('data.csv', mode='r') as file:
    
    # print(file.read())
    
    # f = file.readlines()
    # for x in f:
    #     print(x.strip('\n'))
    
    # for x in file:
    #     print(x.strip('\n'))

In [14]:
import pandas as pd

In [18]:
data = pd.read_csv('weather_data.csv')

In [20]:
type(data)

pandas.core.frame.DataFrame

In [21]:
type(data['temp'])

pandas.core.series.Series

In [22]:
data

         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy
4     Friday    21     Sunny
5   Saturday    22     Sunny
6     Sunday    24     Sunny

In [23]:
data.to_dict()

{'day': {0: 'Monday',
  1: 'Tuesday',
  2: 'Wednesday',
  3: 'Thursday',
  4: 'Friday',
  5: 'Saturday',
  6: 'Sunday'},
 'temp': {0: 12, 1: 14, 2: 15, 3: 14, 4: 21, 5: 22, 6: 24},
 'condition': {0: 'Sunny',
  1: 'Rain',
  2: 'Rain',
  3: 'Cloudy',
  4: 'Sunny',
  5: 'Sunny',
  6: 'Sunny'}}

In [37]:
data.to_json()

'{"day":{"0":"Monday","1":"Tuesday","2":"Wednesday","3":"Thursday","4":"Friday","5":"Saturday","6":"Sunday"},"temp":{"0":12,"1":14,"2":15,"3":14,"4":21,"5":22,"6":24},"condition":{"0":"Sunny","1":"Rain","2":"Rain","3":"Cloudy","4":"Sunny","5":"Sunny","6":"Sunny"}}'

# SERIES  ( https://pandas.pydata.org/docs/reference/series.html )

In [ ]:
data['temp']

0    12
1    14
2    15
3    14
4    21
5    22
6    24
Name: temp, dtype: int64

In [29]:
a = data['temp'].to_list()

a

[12, 14, 15, 14, 21, 22, 24]

In [31]:
data['temp'].mean()

17.428571428571427

In [32]:
data['temp'].count()

7

In [33]:
data['temp'].min()

12

In [34]:
data['temp'].max()

24

In [35]:
data['temp'].unique()

array([12, 14, 15, 21, 22, 24], dtype=int64)

In [36]:
print(data['temp'].unique())

[12 14 15 21 22 24]

# COLUMN

In [38]:
data.to_dict()

{'day': {0: 'Monday',
  1: 'Tuesday',
  2: 'Wednesday',
  3: 'Thursday',
  4: 'Friday',
  5: 'Saturday',
  6: 'Sunday'},
 'temp': {0: 12, 1: 14, 2: 15, 3: 14, 4: 21, 5: 22, 6: 24},
 'condition': {0: 'Sunny',
  1: 'Rain',
  2: 'Rain',
  3: 'Cloudy',
  4: 'Sunny',
  5: 'Sunny',
  6: 'Sunny'}}

In [39]:
data['day']

0       Monday
1      Tuesday
2    Wednesday
3     Thursday
4       Friday
5     Saturday
6       Sunday
Name: day, dtype: object

In [40]:
data.day

0       Monday
1      Tuesday
2    Wednesday
3     Thursday
4       Friday
5     Saturday
6       Sunday
Name: day, dtype: object

# ROW

In [41]:
data[data.day == 'Friday']

      day  temp condition
4  Friday    21     Sunny

In [42]:
data[data.temp == 15]

         day  temp condition
2  Wednesday    15      Rain

In [44]:
data[data.temp == data['temp'].max()]

      day  temp condition
6  Sunday    24     Sunny

In [45]:
data[data.temp == data.temp.max()]

      day  temp condition
6  Sunday    24     Sunny

In [46]:
data.temp.mean()

17.428571428571427

In [47]:
2018_Central_Park_Squirrel_Census_-_Squirrel_Data.csv

SyntaxError: invalid decimal literal (Temp/ipykernel_15072/1541452087.py, line 1)