In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\91800\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\91800\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\91800\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\91800\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\91800\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.3.4'

In [3]:
data = {
    "car":['BMW', 'Audi', 'Honda'],
    "price": ['100$', '164$','87$']
}

In [4]:
print(pd.DataFrame(data))

     car price
0    BMW  100$
1   Audi  164$
2  Honda   87$

In [5]:
pd.DataFrame(data)

     car price
0    BMW  100$
1   Audi  164$
2  Honda   87$

# 1 - SERIES

In [6]:
a = [1, 2, 3, 4, 5]

In [9]:
data = pd.Series(a)
data

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
data[0]

1

In [11]:
data = pd.Series(a, index=['a','b','c','d','e'])
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [13]:
data['a']

1

In [15]:
# key & value

b = {"a":"BMW", "b":"Audi", "c":"Honda"}

data = pd.Series(b)

data

a      BMW
b     Audi
c    Honda
dtype: object

In [16]:
data = pd.Series(b, index=['a','c'])

data

a      BMW
c    Honda
dtype: object