In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("birthday-wisher/birthdays.csv")

In [4]:
print(data)

      name                      email  year  month  day
0     Test             test@email.com  1961     12   21
1  Arunesh  aruneshkumar324@gmail.com  1999      7   15
2    Sohan            sohan@gmail.com  1992      9   12
3    Pohan            pohan@gmail.com  2022      1   20
4    Rohan            rohan@gmail.com  2022      1   20

In [9]:
bod = data[data["day"] == 20]
bod

    name            email  year  month  day
3  Pohan  pohan@gmail.com  2022      1   20
4  Rohan  rohan@gmail.com  2022      1   20

In [11]:
bod.to_dict()

{'name': {3: 'Pohan', 4: 'Rohan'},
 'email': {3: 'pohan@gmail.com', 4: 'rohan@gmail.com'},
 'year': {3: 2022, 4: 2022},
 'month': {3: 1, 4: 1},
 'day': {3: 20, 4: 20}}

In [12]:
bod.to_dict(orient="list")

{'name': ['Pohan', 'Rohan'],
 'email': ['pohan@gmail.com', 'rohan@gmail.com'],
 'year': [2022, 2022],
 'month': [1, 1],
 'day': [20, 20]}